html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    display: block;
    
}
* {
    box-sizing: border-box;
    /* outline: 1px solid ; */
  }
  .w3-content{
      margin-left: auto;
      margin-right: auto;
  }
.row {  
    /* outline: 1px solid black; */

     -ms-flexbox:100%; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    clear: both;
    /* padding:0 8px; */
    background-color: grey;
    
  }
.left-col {
    /* outline: 5px solid red; */

    -ms-flex: 30%; /* IE10 */
    flex: 35%;
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    /* margin-top:16px ; */
    /* padding-right: 16px; */
    display: block;
    /* padding-bottom:0 8px; */

    
}
.right-col {
    /* outline: 5px solid green; */
    -ms-flex: 70%; /* IE10 */
    flex: 65%;
    background-color: white;
    padding: 20px;
    float: right;
    display: block;
    
}

@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
 

.img-image {
  /* outline: 1px solid blue; */
  vertical-align: middle;
  border-style: none;
  border-radius: 100%;
  width: 50%;
}

/* FONT AWESOME */
.fa-A {
  padding-left: 10px;
  margin-right: 10px;
  color: slateblue;
  font-size: xx-large;

}

.awesome:hover {
  color: black;
}

/* SKILL BAR */
.skill-bar {
  /* outline: 2px solid yellow; */
  box-sizing: border-box;
  width: 100%;
  padding:0;
  margin: 0;
}
.skills {
  border-radius: 5px 5px 5px 5px;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}
.random-skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px 5px 5px 5px;
}
.HTML {
  width: 90%;
  background-color: #4caf50;
}
.CSS {
  width: 75%;
  background-color: #4caf50;
}
.JAVASCRIPT {
  width: 25%;
  background-color: red;
}
.language-bar {
  /* outline: 2px solid yellow; */
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}
.language {
  border-radius: 5px 5px 5px 5px;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}
.random-language {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px 5px 5px 5px;
}
.English {
  width: 60%;
  background-color: #4caf50;
}

.Arabic {
  width: 100%;
  background-color: #4caf50;
}
.foter{
    background-color: slateblue;
    margin-top: 16px;
    text-align: center;
    padding: 0.01em 16px ;
    /* margin-top:1px ; */
    display: block;
    width: 100%;
    ;
}
.fa-B{
    padding-left: 10px;
  margin-right: 10px;
  color:black;
}
.w3-hover-opacity:hover{
    color: rgb(49, 20, 216);
}
.fa-linkedin{
display: block;

}